name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

env:
  MIX_ENV: test
  ELIXIR_VERSION: 1.13.4
  ERLANG_VERSION: 25.0

jobs:
  build:

    name: Tests & Checks
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Elixir
      uses: erlef/setup-beam@988e02bfe678367a02564f65ca2e37726dc0268f
      with:
        elixir-version: ${{ env.ELIXIR_VERSION }}
        otp-version: ${{ env.ERLANG_VERSION }}
    - name: Restore dependencies cache
      uses: actions/cache@v3
      with:
        path: deps
        key: ${{ runner.os }}-${{ env.ELIXIR_VERSION }}-${{ env.ERLANG_VERSION }}-mix-${{ hashFiles('**/mix.lock') }}
        restore-keys: ${{ runner.os }}-mix-
    - uses: actions/cache@v2
      name: Restore/Cache _plts
      id: dialyzer-plts-files
      with:
        path: _plts/
        key: ${{ runner.os }}-${{ env.ELIXIR_VERSION }}-${{ env.ERLANG_VERSION }}-dialyzer-plts-files-01-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
        restore-keys: |
          ${{ runner.os }}-${{ env.ELIXIR_VERSION }}-${{ env.ERLANG_VERSION }}-dialyzer-plts-files-01-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}

    - name: Install dependencies
      run: mix deps.get
    - name: Run tests
      run: |
        mix compile --warnings-as-errors
        mix test
    - name: Run formatter
      run: |
        mix format --check-formatted
    - name: Run Credo
      run: |
        mix credo
    - name: Run dialyzer
      run: |
        mkdir -p _plts
        mix dialyzer
